*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box; 
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #eee;
    background-color: #eee;
    font-weight: 300; 
    line-height: 1.6;
}

.App {
    display: flex;
}

.App-body {
    width: 100%;
}

.App-body_conatiner {
    width: 95%;
    margin: auto;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

.cursor:hover {
    cursor:pointer;
}

.underline {
    width: 25%;
    height: 1px;
    margin: auto;
    background-color: #eee;
}

.w-25 {
    width: 25%;
}

.border {
    border: 1px solid #654ea3;
    border-radius: 1rem;
}

.btnHover {
    background: linear-gradient(120deg, transparent, #eee, #654ea3);
    background-size: 200% 200%;
}
.btnHover:hover {
    animation: ingredientsLetterHover .5s linear forwards;
}
@keyframes ingredientsLetterHover {
    from {
        background-position:0% 0%
    }

    to {
        color: #eee;
        background-position: 100% 100%
    }
}